@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;700&family=Vidaloka&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* *,
::after,
::before {
  box-sizing: border-box;
} */

body {
  scroll-behavior: smooth;
}

:root {
  --main-color: #fcb7ca;
  --text-color: #8f8685;
  --font-body: 'Source Sans Pro', sans-serif;
  --font-minor: 'Montserrat', sans-serif;
  --font-header: 'Vidaloka', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

/* header */

header {
  height: 100vh;
  background-color: var(--main-color);
}

.main__nav {
  box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.09);
  background-color: #fff;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  padding: 5px 10px;
  position: sticky;
  top: 0;
  transition: padding 0.3s ease-out;
  z-index: 100;
}

.nav__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 25px;
}

.main__nav h1 {
  color: #181a1f;
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 1.3;
  overflow-wrap: break-word;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__list ul {
  align-items: center;
  display: flex;
  font-family: var(--font-body);
  font-size: 17px;
  gap: 2rem;
  justify-content: space-between;
  line-height: 1.2;
  list-style: none;
  transition: 0.35s ease-out;
}

.nav__list li {
  transition: 0.2s ease-out;
  cursor: pointer;
  font-family: var(--font-minor);
}

.nav__list li:hover {
  transform: translateY(-1px);
  color: var(--main-color);
  transition: 0.35s ease-out;
}

.nav__list button {
  font-size: 16px;
  line-height: 1.8;
  clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  background-color: var(--main-color);
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  padding: 17px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 0;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.1);
  font-family: var(--font-minor);
}

.nav__list button:after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #f06c81;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s ease;
}

.nav__list button:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.nav__list button:hover {
  color: #fff;
}

.m-20 {
  margin-right: 10px;
}

.headerbody__content {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.headerbody__right {
  margin: 0 160px 0 0;
  padding: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerbody__subtop {
  background-color: rgb(255, 188, 118);
  font-family: var(--font-minor);
  height: auto;
  width: auto;
  color: rgb(0, 0, 0);
  text-decoration: none;
  white-space: nowrap;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 15px;
  padding: 2px 50px;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
  outline: none;
  user-select: none;
}

.headerbody__right h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.3em;
  font-family: var(--font-header);
  width: max-content;
}

.headerbody__text {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-minor);
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: center;
}

.header__btnview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerbody__right button {
  border-radius: 0 0 0 0;
  padding: 22.5px 30px;
  width: 100%;
  text-align: center;
  font-family: var(--font-minor);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.56px;
  background-color: rgb(255, 188, 118);
  color: var(--font-body);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.headerbody__right button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.header__img {
  width: 50%;
}

.headerimg__content {
  padding: 10px;
  width: 100%;
}

.headerimg__content img {
  box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  width: 100%;
  border: none;
  border-radius: 0;
  /* margin: 0 0 0 -110px; */
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    -webkit-box-shadow 0.3s;
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%); */
}

/* MOBILE NAVBAR */

.mobile__nav .navMobile__mainView {
  display: none;
}

.mobile__nav .navMobile__mainView.show {
  display: block;
}

.mobile__nav {
  display: none;
  position: relative;
}

.navMobile__mainView {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: var(--main-color);
}

.navMobile__closeView {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25px;
  padding: 1rem;
}

.navMobile__bodyView {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.navMobile__bodyView .navMobile__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: var(--font-minor);
  flex-direction: column;
  /* font-weight: bold; */
  /* font-size: 25px; */
}

.mobileNav__btn {
  border: none;
  background-color: #f06c81;
  width: 70%;
  height: 10%;
  border-radius: 10px;
  color: white;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.56px;
  font-family: var(--font-minor);
  cursor: pointer;
}

.navMobile__social {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
  font-size: 25px;
}

@media screen and (min-width: 768px) and (max-width: 884px) {
  .uil-bars,
  .uil-times {
    font-size: 35px;
  }
  .navMobile__social {
    font-size: 30px;
  }

  .mobile__nav h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 60px !important;
  }

  .navMobile__bodyView .navMobile__list {
    gap: 2rem;
    font-size: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 884px) {
  .mobile__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.4;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    transition: padding 0.3s ease-out;
    z-index: 100;
    color: #181a1f;
    letter-spacing: 2px;
    line-height: 1.3;
  }

  .mobile__nav h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
  }

  .main__nav {
    display: none;
  }

  .headerbody__right {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .headerbody__content {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -60px;
    margin-bottom: 0;
    padding: 100px 0 60px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
  }

  .header__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerbody__subtop {
    margin-bottom: 20px;
  }

  .headerbody__right h1 {
    margin-bottom: 1rem;
    text-align: center;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s, -webkit-box-shadow 0.3s;
    width: 100%;
  }

  .headerbody__text {
    margin-bottom: 1rem;
  }

  .headerbody__right button {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s, -webkit-box-shadow 0.3s;
    margin-bottom: 1rem;
  }

  .headerimg__content {
    padding: 10px;
    /* z-index: 1; */
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 884px) and (max-width: 1200px) {
  .headerbody__content {
    max-width: 900px;
  }

  header {
    height: 108vh;
    background-color: var(--main-color);
  }
}

@media screen and (max-width: 320px) {
  img {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .headerbody__text {
    font-size: 16px;
  }

  .headerbody__right h1 {
    font-size: 30px;
  }
  .mobile__nav {
    font-size: 20px;
    padding: 10px 20px;
  }

  .header__img {
    width: 90%;
  }

  /* .headerimg__content {
    right: -20px !important;
  } */

  /* .headerimg__content::before {
    content: '';
    width: 280px;
  } */

  /* .headerimg__content img {
    position: relative;
    right: -30px !important;
  } */
}

/*  ==============================                       OUR SERVICES                  ==================*/

.our__services {
  background-color: #fbd9e2;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 110px 0 110px;
}

.services__view {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.services__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose__us {
  width: 50%;
  padding: 10px;
}

.choose__us span {
  margin-bottom: 20px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    -webkit-box-shadow 0.3s;
  color: #f06c81;
  font-family: 'Great Vibes', cursive;
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
}

.choose__us h1 {
  margin-bottom: 20px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    -webkit-box-shadow 0.3s;
  /* color: var(--e-global-color-natura4); */
  font-family: vidaloka, Sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.3em;
}

.choose__us p {
  color: #555;
  font-family: montserrat, Sans-serif;
  font-size: 18px;
  font-weight: 400;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    -webkit-box-shadow 0.3s;
}

.services__img {
  width: 50%;
  padding: 10px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    -webkit-box-shadow 0.3s;
}

.services__imgcontent {
  padding: 10px;
  z-index: 1;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.services__imgcontent img {
  box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  /* margin: 0 0 0 -110px; */
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    -webkit-box-shadow 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1114px) {
  body {
    overflow-x: hidden !important;
  }
}

@media screen and (min-width: 1113px) and (max-width: 1115px) {
  body {
    overflow-x: hidden !important;
  }
}

@media screen and (min-width: 375px) and (max-width: 428px) {
  .our__services {
    padding: 200px 0 150px;
  }
}

@media screen and (max-width: 428px) {
  .choose__us h1 {
    font-size: 30px;
    margin-top: 35px;
  }
}

@media screen and (min-width: 767px) and (max-width: 769px) {
  .our__services {
    padding: 520px 0 150px;
  }
}

@media screen and (max-width: 885px) {
  .services__imgcontent img {
    /* display: none; */
  }
  .services__imgcontent {
    /* display: none; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services__imgcontent img {
    box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    max-width: 100%;
    /* border: none; */
    border-radius: 0;
    margin: 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s, -webkit-box-shadow 0.3s;
  }
  .choose__us {
    width: 100%;
    /* padding: 10px 30px; */
  }

  .services__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

/* ===============                       OUR PRICING          ======================== */

.our__pricing {
  background-image: url('../assets/ourservices.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  padding-right: 0px;
  padding-bottom: 110px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 0 50%;
  z-index: 1;
  position: relative;
}

.pricing__overlay {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: repeat;
  z-index: 1;
}

.pricing__rowcontainer {
  max-width: 1140px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 3;
}

.pricing__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.pricingleft__view,
.pricingright__view {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 0 0 0 #fff;

  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pricing {
  margin: 0px 0px 25px 0px;
  transition: 0.3s;
  color: #707070;
  box-shadow: 0 0 0 0 #ffffff;
  border-radius: 4px;
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  width: 100%;
}

.pricing::before {
  content: ' ';
  display: table;
}

.pricing::after {
  display: block;
  clear: both;
  content: '';
}

.pricing__subtitle {
  margin-bottom: 4rem;
}

.title__pricing {
  margin-bottom: 27px;
  box-shadow: 0 0 0 0 #ffffff;
  color: #f06c81;
  text-align: left;
}

.title__pricing h5 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  font-family: var(--font-header);
}

.title__pricing::before {
  content: ' ';
  display: table;
}

.title__pricing::after {
  display: block;
  clear: both;
  content: '';
}

.pricing h6 {
  transition: 0.3s;
  margin-bottom: 12px;
  color: #333;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-family: var(--font-minor);
  text-align: left;
  /* gap: 3rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pricingimg__view {
  margin: 0px 0px 30px 10px;
  text-align: left;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    -webkit-box-shadow 0.3s;
}

.pricingimg__view img {
  opacity: 0;
  animation-name: fadeInImage;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  transition: all 0.3s ease;
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  text-align: left;
  overflow-clip-margin: content-box;
  overflow: clip;
  box-shadow: 1px 0 18px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pricingimg__view::before {
  content: ' ';
  display: table;
}

.pricingimg__view::after {
  display: block;
  clear: both;
  content: '';
}

@media screen and (max-width: 992px) {
  .pricing__rowcontainer {
    max-width: 960px;
  }

  .pricingleft__view {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .pricing__col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 0 0 0 0 #fff;
    margin: 0px 0px 30px 0px;
  }
}

.pricing__col::before {
  content: ' ';
  display: table;
}
.pricing__col::after {
  display: block;
  clear: both;
  content: '';
}
.pricing__title {
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
  color: #f06c81;
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

.pricing__subtitle {
  font-family: vidaloka, Sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.3em;
  color: #313131;
  text-align: center;
}

.pricing__view {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pricingleft__view {
  flex: 0 0 50%;
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  .pricingimg__view img {
    display: none;
  }
  .pricing__rowcontainer {
    max-width: 720px;
  }

  .pricingleft__view {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pricing__col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .pricing__subtitle {
    font-family: vidaloka, Sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3em;
    color: #313131;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .pricing__rowcontainer {
    max-width: 540px;
  }
}

/* SUBSCRIPTION */

.subscription {
  background-image: url('../assets/subscription.png');
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  background-position: left;
  padding: 150px 0 110px;
  margin: 0;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.subscription__overlay {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: repeat;
  z-index: 1;
}

.subscription__view {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 3;
}

.subscription__content {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center !important;
  flex: 1 0 100%;
  align-items: center;
  justify-content: center;
}

.subscriptionleft__view {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 0 0 0 #fff;
}

.subscriptionleft__view h3 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 300;
  text-align: left;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-family: var(--font-minor);
  color: #313131;
}

.subscriptionleft__view p {
  margin: 0px 0px 30px 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #313131;
  font-family: var(--font-minor);
}
.subscriptionleft__view h3::before,
.subscriptionleft__view p::before,
.subscription__right::before {
  content: ' ';
  display: table;
}

.subscriptionleft__view h3::after,
.subscriptionleft__view p::after,
.subscription__right::after {
  display: block;
  clear: both;
  content: '';
}

.h3__two {
  box-shadow: 0 0 0 0 #ffffff;
  font-size: 35px;
  line-height: 45px;
  font-weight: bolder;
  font-family: var(--font-minor);
}

.subscription__right {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  color: #707070;
  margin: 0px 0px 30px 0px;
  color: #f06c81;
  box-shadow: 0 0 0 0 #ffffff;
}

.subscription__right span {
  font-weight: 600;
  font-family: var(--font-minor);
  border-radius: 5px !important;
  background-color: #fff;
  font-size: 17px;
  color: #f06c81;
  font-weight: 600;
  text-align: center;
  padding: 20px 40px;
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  line-height: 1.5;
  cursor: pointer;
}

.subscription__right span:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1200px) {
  .subscription__view {
    max-width: 1140px;
  }
}

@media screen and (max-width: 992px) {
  .subscription__view {
    max-width: 960px;
  }

  .subscription__right {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .subscriptionleft__view {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

@media screen and (max-width: 768px) {
  .subscription__view {
    max-width: 720px;
  }

  .subscription__right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .subscriptionleft__view {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .subscription__view {
    max-width: 540px;
  }
}

/* ==================          SCHEDULE              ===================*/

.schedule__view {
  background-image: url('../assets/18.jpg');
  padding-top: 150px;
  padding-right: 0px;
  padding-bottom: 120px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 0 0;
  z-index: 1;
  position: relative;
}

.schedule__overlay {
  background-color: rgba(255, 255, 255, 0.83);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: repeat;
  z-index: 1;
}

.schedule__booking {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 3;
  text-align: center;
}

.schedule__title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #333;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  text-align: center;
  font-family: var(--font-header);
}

.schedule__booking p {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: #707070;
  font-family: var(--font-body);
}

.booking__timeview {
  border-radius: 4px;
  text-align: left;
  color: #707070;
  line-height: 27px;
  width: 100%;
}

.booking__timeview h6 {
  margin: 2rem 0;
  color: #707070;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-header);
}

/* ==========                   FOOTER          ================*/

footer {
  padding: 120px 0 0px;
  background: var(--main-color);
  color: #707070;
}

.footer__view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.uil-instagram,
.uil-whatsapp,
.uil-envelope-alt {
  color: #707070;
  transition: all 0.3s ease-in-out;
}

.uil-whatsapp:hover {
  color: #25d366;
}

.uil-instagram:hover {
  color: #e1306c;
}

.uil-envelope-alt:hover {
  color: #0072c6;
}

.footer__right {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--font-body);
  transition: all 0.3s ease-in-out;
}

.name__link {
  font-family: var(--font-body);
}

.footer__right h2 {
  color: #181a1f;
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 1.3;
}

.footer__middle {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 1.6;
  font-family: var(--font-body);
  margin-bottom: 30px;
}

.footer__middle h3 {
  font-weight: 600;
  line-height: 28px;
  font-family: var(--font-header);
}

.footer__middle ul li {
  cursor: pointer;
}

.footer__view h3,
.footer__view h2 {
  margin-bottom: 1.5rem;
}

.footer__view h3 {
  font-size: 20px !important;
  font-family: var(--font-header);
}

footer ul li {
  margin: 3px 3px 13px;
  font-size: 18px;
  font-family: var(--font-body);
}

.footer__btn {
  background-color: white;
  padding: 15px 26px;
  width: max-content;
  border-radius: 5px;
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.56px;
  font-family: var(--font-minor);
  cursor: pointer;
}

.footer__btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}

.copywrite__view {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  text-align: center;
  font-family: var(--font-body);
}

@media screen and (max-width: 992px) {
  .footer__right {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .footer__middle {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media screen and (max-width: 768px) {
  .footer__right {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .footer__middle {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@media screen and (max-width: 576px) {
  .footer__right {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer__middle {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
