@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;500;600&family=Source+Sans+Pro&family=Vidaloka&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.policy__view {
  padding: 5rem 0;
  /* background-color: var(--main-color); */
}

.policy__view div {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.policy__view h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #181a1f;
  font-family: Vidaloka;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 1.3;
  overflow-wrap: break-word;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.policy__text {
  font-size: 18px;
  /* font-weight: 400; */
  font-family: var(--font-minor);
  line-height: 1.6;
  overflow-wrap: break-word;
  margin-bottom: 1rem;
  /* font-weight: 500; */
  transition: all 0.4s ease-in-out;
}

p {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-minor);
  line-height: 1.6;
  margin: 2rem 0;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .policy__view {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 0.5rem 3rem 2rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 888px) {
  .policy__view {
    height: 100vh;
    max-width: 100%;
    padding: 3rem 2rem 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .policy__view h1 {
    font-size: 50px;
  }

  li {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }
}
